<%= form_tag :action => 'users' do %>
  Form contents
  
	<p>Cedula: <%= text_field_tag 'cedula_usuario', @cedula %> </p>
	<p>Nombre: <%= text_field_tag 'nombre_usuario', @nombre %> </p>
	<p>Apellido: <%= text_field_tag 'apellido_usuario', @apellido %> </p>
	<%= submit_tag 'Registrate'%>


	<% @usuarios.each do |n|  %>
		<%= n.cedula %> <br>
	<% end %>

<<<<<<< HEAD
<<<<<<< HEAD
	Cambio para mis estimados
=======
	This is the information que es lo que pasa  <br>
	This is the information que es lo que pasa  <br>
	This is the information que es lo que pasa  <br>

	This is my change <br> 
	This is my change <br> 
	This is my change <br> 

	other change
>>>>>>> 3d80652462d1aa1437561ab64d85c85c21932022
=======
>>>>>>> c3f20eef8660d6371aeff334b4ea32ddb27eb8e1
<% end %>
